<%- include('partials/layout.ejs' , { username })%>


<div class="container">

<form method="post" class="w-50 container d-flex my-5 gap-2">
    <input type="text" class="form-control" name="query" placeholder="Search for Todos" required>
    <button class="btn btn-dark">Search</button>
</form>

<% if(todos == null){ %>
    <h1 class="text-center">Search For Todos</h1>
<% } else { %>
    <h1 class="text-center">Result for "<%= query %>"</h1>
            <% if(todos.length == 0 ){%>
                <h5 class="text-center alert alert-info w-50 mx-auto my-4">No Todo found</h5>
            <% } %>

            <span>Todo Found : <%= todos.length%></span>
            <div class="container d-flex flex-wrap gap-2 justify-content-center mt-5">
        <% for(let i of todos) { %>
        <div class="todo-card border p-2 px-3 rounded-3 " style="width: 18rem;">
          <div class="d-flex justify-content-between align-items-center">
            <a href="/todo/<%= i._id %>" class="fs-3 text-decoration-none"><%= i.todo %></a>             
            <span class="<%= i.status ? 'pill-success' : 'pill-pending' %>" >
              <% if(i.status) { %>
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check"><circle cx="12" cy="12" r="10"/><path d="m9 12 2 2 4-4"/></svg> 
              <% } else { %>
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-dot"><circle cx="12" cy="12" r="10"/><circle cx="12" cy="12" r="1"/></svg>
              <% } %>
              %>
            </span>
          </div>
            <h6 class="date"><%= i.createdAt.toString().slice(0 , 16 ) %></h6>
            <span class="badge bg-success"><%= i.isPublic ? 'public' : '' %></span>
            </div>
            <% } %>
        </div>
</div>
<% } %>

</div>

<%- include('partials/body.ejs')%>